# Android build output
build/
app/build/
.gradle/

# Machine-specific Android SDK configuration
local.properties

# IntelliJ config
.idea

# specific build output for crystal .so files, and maybe others
app/src/main/jniLibs/arm64-v8a/

# Ignore automatically synced SDL3 Java framework files
app/src/main/java/org/libsdl/app/

# Ignore copied assets from ../assets/*
android/app/src/main/assets/
